html{
  font-size: 18px;
  font-family: monospace;
  background: #474747;
  color: #e0e0e0;
}

body {
  margin-left: 200px;
  margin-right: 200px;
  font-family: "Jomolhari";
}

h1, h2 {
  color:#c9c9c9;
  margin-bottom: 0;
  font-weight: bold;
  font-family: "Montserrat";
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
  margin: 0;
  padding: 0;
}

nav ul li a {
  display: block;
  color: gray;
  text-decoration: none;
}

.chuck {
    margin-top: 20px;
    margin-top: 20px;
}

#chuck-joke {
  display: inline;
}

h4 {
  margin: 0;
  padding: 0;
}

time {
  display: block;
}

a.watch {
  color: #c9c9c9;
  text-decoration: none;
}

a.watch i {
  font-size: 17px;
}

footer {
  margin-top: 20px;
  color: gray;
}

h1.site-header {
  font-size: 3em;
}

h1.site-header section {
  display: inline;
  font-size: 0.8em;
  color: #a3a3a3;
  font-weight: lighter;
}

h1.site-header section i {
  display: inline;
}


@media (max-width: 900px) {
    boddy {
      padding-left: 0;
      padding-right: 0;
    }
}