<!doctype html>
<html lang="de" xml:lang="de">
  <head>
    {{ partial "head.html" . }}
  </head>
  <body class="list">
      {{ partial "title.html" . }}
    <main class="posts">
      {{range (where .Pages "Type" "posts")}}
        <section>
          <h2>{{.Title}}</h2>
          <time>{{.Date.Format "January 2, 2006"}}</time>
          {{.Summary}}
          <br>
          <a href="{{.Permalink}}" title="{{.Title}}" class="watch">
            Angucken <i class="fa fa-chevron-right"></i></a>
        </section>
      {{end}}
    </main>
    <div class="chuck">
      <h4>Chuck Norris Joke:</h4>
      <p id="chuck-joke"></p>
    </div>
    {{ partial "footer.html" . }}
  </body>
</html>
