<!doctype html>
<html lang="de" xml:lang="de">
  <head>
    {{ partial "head.html" . }}
  </head>
  {{ partial "title.html" . }}
  <body class="single">
    <main>
      <h1>{{.Title}}</h1>
      <time>{{.Date}}</time>
      {{.Content}}
      <br>
      <a href="/" title="Zurück" class="watch">
        <i class="fa fa-chevron-left"></i> Zurück</a>
    </main>
    {{ partial "footer.html" . }}
  </body>
</html>
